<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Zones Report</title>
    <!-- Include Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

</head>

<body>
    <div class="container">
        <h1 class="mt-4">Generate Fitness Zones Report</h1>
        <div class="form-group row">
            <label for="numDays" class="col-sm-3 col-form-label">Users:</label>
            <div class="col-sm-6">
                <select class="form-control" name="user" id="user">
                    <option value="null">Please select a value</option>
                   <% users.map((e)=>{%>
                          return `<option value="<%=e.id%>"><%=e.name%></option>`
                          <% })%>
                  
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="numDays" class="col-sm-3 col-form-label">Activity name:</label>
            <div class="col-sm-6">
                <select class="form-control" name="selectedOption" id="activityname" onchange="getdistance()">
                    <option value="null">Please select a value</option>
                   <% activities.map((e)=>{%>
                          return `<option value="<%=e.id%>"><%=e.activity_name%></option>`
                          <% })%>
                  
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="numDays" class="col-sm-3 col-form-label" id="timetrial">Time trial:</label>
            <input type="hidden" id="hiddendistance"/>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="fivetime" placeholder="Enter time trial" onchange="calculatepace()">
             
            </div>
        </div>
        <div class="form-group row">
            <label for="numDays" class="col-sm-3 col-form-label">Pace:</label>
            <div class="col-sm-6">
              <span class="form-control" id="pace"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="numDays" class="col-sm-3 col-form-label">Fitness Level:</label>
            <div class="col-sm-6">
                <input type="hidden" id="fitnesslevelid" value="1"/>
              <span class="form-control" id="fitnesslevel"></span>
            </div>
        </div>
     
        <div class="form-group row">
            <span class="col-sm-6" id="optionsvalue" style="font-size: small;"></span>
        </div >
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <button onclick="generatereport()" class="btn btn-primary" id="generateButton">Get Zones report</button>
            </div>
        </div>
        <span id="activitysel" style="margin-right: 50px; font-size: 15px;"></span> <span id="giventime" style="margin-right: 50px; font-size: 15px;"></span><span style="margin-left: 50px; font-size: 15px;" id="outputtime"></span>
        
        <div class="form-group row">
            <span class="col-sm-6" id="uid" style="font-size: small;"></span>
        </div >
        <table id="jsonTable" class="display">
            
            <thead>
                <!-- Table header cells will be added here -->
            </thead>
            <tbody>
                <!-- Table body rows will be added here -->
            </tbody>
        </table>

    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      

        let dataTable = $('#jsonTable').DataTable({
    columns: [
        { data: 'zone', title: 'Zone' },
        { data: 'name', title: 'Zone Name' },
        { data: 'offsetstart', title: 'Offset Start' },
        { data: 'offsetend', title: 'Offset End' },
        { data: 'pacestart', title: 'Pace Start Range' },
        { data: 'paceend', title: 'Pace End Range' },
      
     
    ]
});

function generatereport() {
    // ...
    let activity_id = $("#activityname").val();
    let activitysel = $("#activitysel");
    let fitnesslevelid = $("#fitnesslevelid").val();
    let distance = $("#hiddendistance").val();
    let time = $("#fivetime").val();
    let giventime = $("#giventime");
    let user=$("#user").val();
    let outputtime = $("#outputtime");
    let uid= $("#uid");
   
            let options = {
                activity_id,
                user_id:user,
                fitnesslevelid,
                distance,
                time
            }
            const requestOptions = {

                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(options)
            };
    fetch(`<%base_url%>/yofit/generatezonesreport`, requestOptions)
        .then(res => res.json())
        .then((data) => {
            
            const jsonData = data;
            uid.html("Random string to get report in future is "+jsonData.randomstring);
            // Clear the existing table data
            dataTable.clear();
            console.log("jsonData",jsonData)
            // Loop through each alldates object and add its weekdates to the table
            giventime.html("Given time: "+jsonData.otherdata.giventime);
            outputtime.html("Output time: "+jsonData.otherdata.outputtime);
            activitysel.html("Activity: "+jsonData.otherdata.activity);
            jsonData.zonesdata.forEach(dateObj => {
                console.log("dateObj",dateObj)
                dataTable.row.add(dateObj).draw();
            });
        })
}
        

      
function fetchactivity() {
            
            let comboselem = $("#activityname");
            // clear prev combos

            console.log(optionvalue)
            fetch(`<%base_url%>/yofit/fetchactivity`)
                .then(res => res.json())
                .then((data) => {
                    comboselem.empty()
                    data?.datatosend?.map((option,index) => {

                        console.log(option)
                        //set initial option value to empty
                        if(index == 0){
                            let newOption = `<option value="">Select</option>`;
                            // Append the new option to the second select element
                            comboselem.append(newOption);
                        }
                        let newOption = `<option value="${option.id}">${option.value}</option>`;
                        // Append the new option to the second select element
                        comboselem.append(newOption);
                    })
                })
        }

function calculatepace(){
          let fivetime = $("#fivetime").val();
          let activity_id = $("#activityname").val();
          let fitnesslevelid = $("#fitnesslevelid");
            let pace = $("#pace");
            let dis=$("#hiddendistance").val();
            let speed=dis/(fivetime/60);
           
            let speedinmin=speed.toFixed(2);
            pace.html(speedinmin+" km/hr");

            let fitnesslevel = $("#fitnesslevel");
          
            fetch(`<%base_url%>/yofit/fetchactivitylevel/${activity_id}/${fivetime}/${dis}`)
                .then(res => res.json())
                .then((data) => {
                    // alert(data)
                    // console.log(data)

                    fitnesslevelid.html(data?.activitylevel?.level.id)
                    fitnesslevelid.val(data?.activitylevel?.level.id)
                    fitnesslevel.html(data?.activitylevel?.level.level)
                })
        }


function getdistance(){
    let activityname=$("#activityname").val();
    let distance=$("#hiddendistance");
    let timetrial=$("#timetrial");
    fetch(`<%base_url%>/yofit/getdistanceforactivity/${activityname}`)
                .then(res => res.json())
                .then((data) => {
                    // alert(data)
                    // console.log(data)
                    timetrial.html("Time trial of "+data.distanceforactivity+" KM")
                    distance.val(data.distanceforactivity)
                })
}
    </script>
</body>

</html>